project_name = "hospital"
environment  = "prod"
owner        = "devops"
aws_region   = "us-east-1"

# Keep the Kubernetes API private by default.
endpoint_public_access = false
# If you enable public access, set this to your office or VPN public IP ranges.
public_access_cidrs = []

single_nat_gateway = false

