project_name = "hospital"
environment  = "dev"
owner        = "devops"
aws_region   = "us-east-1"

# Keep the Kubernetes API private by default.
endpoint_public_access = false
public_access_cidrs    = ["10.20.0.0/16"]

single_nat_gateway = true

